{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
  <link rel="shortcut icon" href="{%  static '/images/favicon.ico' %}">
  <title>Escola Digital</title>
</head>
<body>
  <div class="login-page">
  <img src="{% static "/images/logo.png" %}"></img>  
  <div class="form">
    <form action="{% url 'login' %}" method="POST"  class="login-form">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Usuário"/>
      <input type="password" name="password" placeholder="Senha"/>
      <input class="submit" type="submit" name="" value="Entrar"></input>
    </form>
  </div>
</div>
</body>
</html>
