<div class="panel panel-default">
           
    <div class="panel-heading">
      Opções
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'relatorio-turma' %}">Relatório Matriculados Turma</a></li>
      <li class="list-group-item"><a href=" {% url 'relatorio-situacao-final-disciplina' %}">Relatório Situação Final Disciplina</a></li>
      <li class="list-group-item"><a href="{% url 'relatorio-atas-finais' %}">Relatório Resultado de Atas Finais</a></li>
      <li class="list-group-item"><a href="{% url 'relatorio-bimestral' %}">Relatório Rendimento Bimestral</a></li>

    </ul>
 </div>