{% load staticfiles %}
<html>
<head>
<meta "charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static "/css/relatorio_paisagem.css" %}">
</head>
  <body> 
  	
  	<table class="titulo">
  		<tr>
  			<td rowspan="4">
  				  	<div class="divImage">
             			<img src="{% static "/images/emblema.png" %}">    
   					 </div>
  			</td>
  			<td colspan="8">
  				 <h3 style="text-align:left" class="h3-titulo">COLÉGIO BATISTA MONTE SINAI</h3> 	
  			</td>
          </tr>
          
            <tr>
                <td style="text-align: left" class="info"><label>ENTIDADE MANTENEDORA: </label> PAI – PROJETO DE APOIO À INFÂNCIA</td>
            </tr>
            <tr>
                <td style="text-align: left" class="info"><label>ENDEREÇO: </label> AVENIDA J - Nº 194 - CEP  61.605-600 - JUREMA - CAUCAIA</td>
            </tr>
            <tr>
                <td style="text-align: left" class="info" ><label>CNPJ: </label>10653064/0001-45	|	<label>TELEFONE: </label>(85) 34891176</td>
            </tr>

    </table>
    
    <table cellpadding="0" cellspacing="0" class="dados">
            
            <h5>
                  RENDIMENTO BIMESTRAL - {{turma.serie.descricao}} {{turma.sequencia}} - Ensino Fundamental - {{confs.ano_letivo}} 
            </h5>
            
            <thead>
                <tr style="font-size: 13px">
                    <th style="width:15px" ></th>
                    <th>{{disciplina.descricao}}</th>
                
                    <th colspan="3">1° Bimestre</th>
                    <th colspan="3">2° Bimestre</th>
                    <th colspan="3">3° Bimestre</th>
                    <th colspan="3">4° Bimestre</th>
                </tr>
                <tr style="font-size: 13px">
                    <th style="width:15px" ></th>
                    <th >Aluno</th>
                
                    <th style="width:40px">NP</th>
                    <th style="width:40px">NB</th>
                    <th style="width:40px">NE</th>

                    <th style="width:40px">NP</th>
                    <th style="width:40px">NB</th>
                    <th style="width:40px">NE</th>

                    <th style="width:40px">NP</th>
                    <th style="width:40px">NB</th>
                    <th style="width:40px">NE</th>

                    <th style="width:30px">NP</th>
                    <th style="width:30px">NB</th>
                    <th style="width:30px">NE</th>
                
                </tr>

            </thead>
            
            <tbody>
                {% for mat in matriculas  %}
                    <tr
                        {% if forloop.counter|divisibleby:'2' %}
                        class="odd"
                        {% endif %}
                        style="font-size: 13px">

                        <td>{{ forloop.counter }}</td>
                        
                        <td>{{mat.aluno.nome}}</td> 

                        {% for bimestre in mat.bimestres  %}
                            {% if not bimestre %}
                                <td></td>
                                <td></td>
                                <td></td>
                            {% else %}
                                <td>{{bimestre.nota_parcial.valor | floatformat:1}}</td>
                                <td>{{bimestre.nota_bimestral.valor | floatformat:1}}</td>
                                <td>{{bimestre.nota_extra.valor | floatformat:1}}</td>
                            {% endif %}
                        
                        {% endfor %}
                    </tr>  
                {% endfor %}
            </tbody>
    </table>

</body>
</html>   