{% extends 'escoladigital/templates/base.html' %}


{% block message %}  

    <div class="alert alert-danger" id="alert-historico" style="display:none">
        Todos os campos do histórico devem ser preenchidos.
    </div>

    <div class="alert alert-success" id="alert-success" style="display:none">
      <button type="button" class="close">×</button>
        Histórico cadastrado com sucesso.       
    </div>

    <div class="alert alert-danger" id="alert-erro" style="display:none">
      <button type="button" class="close">×</button>
        Não foi possível salvar o histórico.   
    </div>

{% endblock message%}


{% block options %}

    {% include "include-opcoes-historico.html" %}

{% endblock options %}

{% block body %}
	
<form role="form">
  {% csrf_token %}
  <input type="hidden" id="aluno" value="{{aluno.id}}"> 
  <div class="panel panel-default">
      
      <div class="panel-heading">
        Cadastro De Histórico
      </div>
      <div class="panel-body" >
      
      <div class="row">
        <div class="col-md-6">
          <label for="instituicao">Instituição</label>
          <input type="hidden" id="id_instituicao">
          <input type="text" class="form-control" id="desc_instituicao" name="desc_instituicao" >
        </div>
        <div class="form-group col-md-4">
          <label for="cidade">Cidade</label>
          <input type="text" class="form-control" id="cidade" name="cidade" >
        </div>
        
        <div class="form-group col-md-2">
          <label for="uf">UF</label>
          <select id="uf" name="uf" class="form-control" >
            <option>Selecione</option>
            {% for x, y in form.fields.uf.choices %} 
              <option value="{{x}}">{{y}}</option>
            {% endfor %}
          </select>   
        </div>

      </div>

      <div class="row">
        <div class="form-group col-md-3">
          <label for="ano">Ano</label>
          <select id="ano" name="ano" class="form-control" >
            <option value="">Selecione</option>
            {% for x, y in form.fields.ano.choices %} 
              <option value="{{x}}">{{y}}</option>
            {% endfor %}
          </select>   
        </div>

          <div class="form-group col-md-3">
          <label for="serie">Série</label>
          <select id="serie" name="serie" class="form-control" >
              <option value="">Selecione</option>
            {% for x in form.fields.serie.queryset %} 
              <option value="{{x.id}}">{{x.descricao}}</option>
            {% endfor %}
          </select>   
        </div>

        <div class="form-group col-md-2">
          <label for="ano">Carga Horária</label>
          <input type="text" class="form-control" id="carga" name="carga">
        </div>

          <div class="form-group col-md-3">
          <label for="situacao">Situação</label>
          <select id="situacao" name="situacao" class="form-control" >
              <option value="">Selecione</option>
            {% for x,y in form.fields.situacao.choices %} 
              <option value="{{x}}">{{y}}</option>
            {% endfor %}
          </select>   
        </div>

        </div>
    </div>
</div>  

<div class="panel panel-default">
           
    <div class="panel-heading">
      Disciplinas
    </div>
    
    <div class="panel-body" id="divDisciplinas">    

    </div>
</div>  
  
</form>

<script type="text/javascript">
  $(document).ready(function() {
    
    $("#serie").change(function(){
      $("#divDisciplinas").children().remove();
      $("#divDisciplinas").load("/escola/serie/"+$(this).val()+"/disciplinas/historico", function(){
          $(".number").mask('00.0', {'reverse':true});
      });
    });


    $("#desc_instituicao").autocomplete({
      source:function(request, response){
        $.ajax({
          type:'POST',
          headers: {'X-CSRFToken':$("input[name=csrfmiddlewaretoken]").val()},
          url: "/historico/instituicoes",
          data:{'value' : request.term}
        }).done(function(data){
            
            response($.map(data, function(item){
                      return{
                        label: item.fields.descricao,
                        id: item.pk,
                        uf: item.fields.uf,
                        cidade: item.fields.cidade
                      }
                  }
                )
              );
        });
     
      },
      
      select:function(event, ui){
        $("#cidade").val(ui.item.cidade);
        $("#uf").val(ui.item.uf);
        $("#id_instituicao").val(ui.item.id);
      },

      change: function( event, ui ) {
        if(ui.item == null){
          $("#cidade").val("");
          $("#uf").val("");
          $("#id_instituicao").val("");
        }
      }
    
    });

    $("#divDisciplinas").on('click','#btn-salvar', function(){
      if(validarCampos()){

          $.ajax({
            type:'POST',
            headers:{'X-CSRFToken':$("input[name=csrfmiddlewaretoken]").val()},
            url:'/historico/'+$("#aluno").val()+'/cadastrar',
            accept:'application/json',
            data:{'historico':JSON.stringify(montarObjetoHistorico())}
          }).done(function(response){
              if(response.sucess){
                $("#alert-success").show();
                $('html,body').scrollTop(0);
              }
              
          }).fail(function(){
              $("#alert-erro").show();
              $('html,body').scrollTop(0);
          });
      }

    });  
    
    $(".close").click(function(){
        $(this).parent().hide();
    });
    
    $("#carga").mask('00000000');

  });



  function validarCampos(){
    var pass = true
    $("input, select").not('input.number, :hidden').each(function(){
          if($(this).val() == "")
             pass = false
    });

    if(!pass){
      $("#alert-historico").show();
      $('html,body').scrollTop(0);
    }

    return pass;

  }

  function montarListaNotas(){
    var notas = [];
    $("#divDisciplinas table tbody tr").each(function(){
      var json = {
        "valor": $(this).find("input[type=text]").val(),
        "disciplina" :$(this).find("input[type=hidden]").val(),
      }
      notas.push(json);
    });
    return notas
  }

  function montarObjetoHistorico(){

    var json = {
      "instituicao":{ 'descricao':$("#desc_instituicao").val(),
                      'id':$("#id_instituicao").val(),
                      'cidade':$("#cidade").val(),
                      'uf':$("#uf").val()},
      "ano":$("#ano").val(),
      "serie":$("#serie").val(),
      "carga":$("#carga").val(),
      "situacao":$("#situacao").val(),
      "notas" : montarListaNotas()
    }

    return json;

  }

</script>

{% endblock body %}

