{% extends 'escoladigital/templates/base.html' %}


{% block message %}  

    <div class="alert alert-danger" name="alert-historico" style="display:none">
        Todos os campos do histórico devem ser preenchidos.
    </div>

    <div class="alert alert-success" id="alert-success" style="display:none">
      <button type="button" class="close">×</button>
        Histórico cadastrado com sucesso.       
    </div>

{% endblock message%}


{% block options %}
{% include "include-opcoes-historico.html" %}
{% endblock options %}

{% block body %}
	
<form role="form">
  {% csrf_token %}

  <div class="panel panel-default">
           
           <div class="panel-heading">
              Detalhe Histórico
            </div>
           <div class="panel-body" >
            {% if  aluno.historicos %}
             
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Instituicão</th>
                    <th class="col-lg-1">Ano</th>
                    <th class="col-md-2">Série</th>
                    <th class="col-lg-1">Situação</th>
                    <th class="col-lg-1"></th>
                  </tr>
                </thead>
    
                <tbody>
                  {% for hs in historicos %} 
                    <tr>
                        <td >{{hs.instituicao.descricao}}</td>
                        <td class="col-lg-1">{{hs.ano}}</td>
                        <td class="col-md-2">{{hs.serie.descricao}}</td>
                        
                        {% if hs.situacao %}
                          <td class="col-lg-1">Aprovado</td>  
                        {% else %}
                          <td class="col-lg-1">Reprovado</td>
                        {% endif %}
                        <td class="col-lg-1"><a href="{% url 'edicao-historico' hs.id %}">Editar</a></td>   
                    </tr>
                  {% endfor %}
                </tbody>

              </table>

            {% else %}

              <div class="alert alert-info">
                  Não existe histórico cadastrado para esse aluno.       
              </div>

            {% endif %}
    </div>
</div>  
  
</form>

{% endblock body %}

