<div class="panel panel-default">
             
    <div class="panel-heading">
      Opções
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'cadastro-disciplina' %}"> Disciplinas</a></li>
      <li class="list-group-item"><a href="{% url 'cadastro-serie' %}"> Séries</a></li>
      <li class="list-group-item"><a href="{% url 'cadastro-turma' %}"> Turmas</a></li>
      <li class="list-group-item"><a href="{% url 'edicao-configuracoes' %}"> Configurações</a></li>
    </ul>

 </div>