{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/multi.min.css" %}">
	<script type="text/javascript" src="{% static "js/jquery-3.2.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/multi.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.mask.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}">
    <link rel="shortcut icon" href="{%  static '/images/favicon.ico' %}">
	
	<title>Escola Digital</title>
</head>
<body>
	<header class="container">	
    <nav class="navbar navbar-default" id="colorful-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" style="padding:0;">
                <ul class="nav navbar-nav">
                    <li class="block"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span><h5>HOME</h5></a></li>
                    
                    <li class="block"><a href="{% url 'pesquisa-aluno' %}"><span class="glyphicon glyphicon-education"></span><h5>ALUNOS</h5></a></li>
                    
                    <li class="block"><a href="{% url 'cadastro-notas' %}"><span class="glyphicon glyphicon-stats"></span><h5>RENDIMENTO</h5></a></li>

                    <li class="block"><a href="{% url 'relatorio-turma' %}"><span class="glyphicon glyphicon-list-alt"></span><h5>RELATÓRIOS</h5></a></li>             
                    
                    <li class="block"><a href="#"><span class="glyphicon glyphicon-user"></span><h5>USUÁRIOS</h5></a></li>

                    <li class="block"><a href="{% url 'cadastro-serie' %}"><span class="glyphicon glyphicon-apple"></span><h5>ESCOLA</h5></a></li> 
                    
                    <li class="block" ><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span><h5>SAIR</h5></a></li>
                </ul>
        </div>
    </nav>
 </header>

  <main class="container">
    <div class="panel-default panel">
        <div class="panel-body">
            <div class="row">
                {% block message %}

                {% endblock message %}
            </div>

            <div class="row">
                <aside class="col-md-3">
                
                 {% block options %}

               {% endblock options %}
              </aside>
            
            <article class="col-md-9">

               {% block body %}

               {% endblock body %}

            </article>
            </div>
        </div>
    </div>
  </main>
	

  <footer class="footer text-center">
      <div class="container">
        <p>Todos os direitos reservados.</p>
      </div>
  </footer>
</body>
</html>