<div class="panel panel-default">
           
    <div class="panel-heading">
      Opções
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'cadastro-historico' aluno.id %}">Histórico</a></li>
      <li class="list-group-item"><a target="_new" href="{% url 'boletim-aluno' aluno.id %}">Boletim</a></li>        
      <li class="list-group-item"><a href=" {% url 'declaracao-aluno' aluno.id %}">Declaração</a></li>
      <li class="list-group-item"><a href="{% url 'matricula-aluno' aluno.id %}">Matrícula</a></li>
      <li class="list-group-item"><a href="{% url 'edicao-aluno' aluno.id %}">Alterar Dados Cadastrais</a></li>
    </ul>
 </div>